$primary-color: #feb159;
$background-color: #403b59;
$accent-color: #fef0b9;
$card-width: 9vw;
$card-height: 9vw;

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background-color;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 40vw;
}

.header {
    position: fixed;
    top: 2vh;
    left: 0;

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header button {
    width: 10vw;
    height: 5vh;
}

.logo {
    width: 40vw;
}

button {
    background-color: $primary-color;
    width: 15vw;
    height: 10vh;
    border: solid 3px black;
    border-radius: 20px;
    margin: 0 5vw;
    cursor: pointer;
    
    color: $accent-color;
    font-size: 24px;
    font-weight: 700;
    // -webkit-text-stroke-width: 2px;
    // -webkit-text-stroke-color: black;
    transition: all ease-in-out 0.3s;
}

button:hover {
    background-color: black;
    color: $primary-color;
    border: solid 3px $accent-color;
}

.buttons-container {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.buttons-container .turns{
    position: absolute;
    left: 5%;
}

.cards-grid {
    height: 65vh;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    // gap: 1vw;
}

.card {
    width: $card-width;
    height: $card-height;
    margin: 1vw;

    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card p {
    font-size: 24px;
}

.card .back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: $card-height;

    cursor: pointer;
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}

.card .front {
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    width: $card-width;
    height: $card-height;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.popup {
    position: fixed;
    width: 50vw;
    height: 50vh;
    left: 25vw;
    top: 25vh;
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.26);
}

.popup h1, h2, p{
    background-color: transparent;
}

.popup h2{
    margin-bottom: 5%;
}

.popup p{
    position: absolute;
    right: 5%;
    top: 5%;

    cursor: pointer;
}