$primary-color: #feb159;
$background-color: #403b59;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: $background-color;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background-color: $primary-color;
    width: 15vw;
    height: 10vh;
    border: none;
    border-radius: 10px;
    margin: 0 5vw;
    cursor: pointer;
}

.buttons-container{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-grid{
    height: 75vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    outline: red solid 1px;
    // align-items: center;
    gap: 1vw;
}

.card{
        
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}